<f:layout name="Default" />
<f:section name="Title">Account erstellen</f:section>
<f:section name="Content">
    <f:link.action id="login" action="start" controller="User" class="btn btn-primary">Login</f:link.action>
    <f:link.action id="createnewnote" action="new" controller="createPass" class="btn btn-primary">Neue Note</f:link.action>
    <h2>Account <span class="highlight">erstellen</span></h2>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="well bs-component">
                <f:form action="createAccount" class="form-horizontal findErrors" method="post">
                    <f:form.validationResults>
                        <f:if condition="{validationResults.flattenedErrors}">
                            <div class="alert alert-danger">
                                <ul class="error">
                                    <f:for each="{validationResults.flattenedErrors}" as="elementErrors"
                                           key="elementIdentifier" reverse="true">
                                        <f:for each="{elementErrors}" as="error">
                                            <li>{error}</li>
                                        </f:for>
                                    </f:for>
                                </ul>
                            </div>
                        </f:if>
                    </f:form.validationResults>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Username</label>
                            <div class="col-lg-10">
                                <f:form.textfield name="username" property="username" value="{username}" class="form-control" placeholder="Username" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Vorname</label>
                            <div class="col-lg-10">
                                <f:form.textfield name="firstname" property="firstname" value="{firstname}" class="form-control" placeholder="Vorname" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Nachname</label>
                            <div class="col-lg-10">
                                <f:form.textfield name="lastname" property="lastname" value="{lastname}" class="form-control" placeholder="Nachname" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <f:form.textfield name="email" property="email" value="{email}" class="form-control" placeholder="Email" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Passwort</label>
                            <div class="col-lg-10">
                                <f:form.textfield type="password" property="password" value="" name="password" class="form-control" placeholder="Passwort" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Passwort wiederholen</label>
                            <div class="col-lg-10">
                                <f:form.textfield type="password" property="ConfirmPassword" value="" name="confirmPassword" class="form-control" placeholder="Passwort wiederholen" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <div id="captcha" class="g-recaptcha" data-sitekey="6Le0Sf8SAAAAAMXFrjit-ATcHLtJaLA1sku-5BdG"></div>
                                <f:form.submit class="btn btn-primary hide" id="registerbtn" value="Account erstellen" />
                            </div>
                        </div>
                    </fieldset>
                </f:form>
            </div>
        </div>
    </div>
</f:section>