<f:layout name="Default" />
<f:section name="Title">Create Account</f:section>
<f:section name="Content">
    <f:link.action id="login" action="start" controller="User" class="btn btn-primary">Login</f:link.action>
    <f:link.action id="createnewnote" action="new" controller="createPass" class="btn btn-primary">Create new Note</f:link.action>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="well bs-component">
                <f:form action="createAccount" class="form-horizontal findErrors" method="post">
                    <f:form.validationResults>
                        <f:if condition="{validationResults.flattenedErrors}">
                            <div class="alert alert-danger">
                                <ul class="error">
                                    <f:for each="{validationResults.flattenedErrors}" as="elementErrors"
                                           key="elementIdentifier" reverse="true">
                                        <f:for each="{elementErrors}" as="error">
                                            <li>{error}</li>
                                        </f:for>
                                    </f:for>
                                </ul>
                            </div>
                        </f:if>
                    </f:form.validationResults>
                    <fieldset>
                        <legend></legend>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Username</label>
                            <div class="col-lg-10">
                                <f:form.textfield name="username" property="username" value="{username}" class="form-control" placeholder="Username" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Firstname</label>
                            <div class="col-lg-10">
                                <f:form.textfield name="firstname" property="firstname" value="{firstname}" class="form-control" placeholder="Firstname" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Lastname</label>
                            <div class="col-lg-10">
                                <f:form.textfield name="lastname" property="lastname" value="{lastname}" class="form-control" placeholder="Lastname" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <f:form.textfield type="password" property="password" value="" name="password" class="form-control" placeholder="Password" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <div class="g-recaptcha" data-sitekey="6Le0Sf8SAAAAAMXFrjit-ATcHLtJaLA1sku-5BdG"></div>
                                <f:form.submit class="btn btn-primary" id="registerbtn" value="Create Account" />
                            </div>
                        </div>
                    </fieldset>
                </f:form>
            </div>
        </div>
    </div>
</f:section>