<f:layout name="Default" />
<f:section name="Title">Login</f:section>
<f:section name="Content">
    <f:link.action id="createnewnote" action="new" controller="createPass" class="btn btn-primary">Create new Note</f:link.action>
    <h2>Log<span class="highlight">in</span></h2>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="well bs-component">
                <f:form action="authenticate" controller="Login" enctype="multipart/form-data" class="form-horizontal findErrors" name="login" object="{login}" method="post">
                    <f:form.validationResults>
                        <f:if condition="{validationResults.flattenedErrors}">
                            <div class="alert alert-danger">
                                <ul class="error">
                                    <f:for each="{validationResults.flattenedErrors}" as="elementErrors"
                                           key="elementIdentifier" reverse="true">
                                        <f:for each="{elementErrors}" as="error">
                                            <li>{error}</li>
                                        </f:for>
                                    </f:for>
                                </ul>
                            </div>
                        </f:if>
                    </f:form.validationResults>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Username</label>
                            <div class="col-lg-10">
                                <input type="text" id="usernameinput" class="form-control" placeholder="Username"
                                       name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]"
                                       value="" tabindex="1"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Passwort</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" placeholder="Passwort"
                                       name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]"
                                       value="" tabindex="2"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <f:form.submit tabindex="3" class="btn btn-primary" value="Login" />
                                <f:link.action id="notregistered" action="register" class="btn btn-primary">Account erstellen</f:link.action>
                                <f:link.action id="notregistered" action="resetPw" class="btn btn-primary">Passwort?</f:link.action>
                                <f:link.action id="notregistered" action="getUsername" class="btn btn-primary">Username?</f:link.action>
                            </div>
                        </div>
                    </fieldset>
                </f:form>
            </div>
        </div>
    </div>
</f:section>