<f:flashMessages as="flashMessages">
    <f:for each="{flashMessages}" as="flashMessage">
        <f:if condition="{flashMessage.severity} == 'OK'">
            <div class="alert alert-success">
        </f:if>
        <f:if condition="{flashMessage.severity} == 'Notice'">
            <div class="alert alert-info">
        </f:if>
        <f:if condition="{flashMessage.severity} == 'Warning'">
            <div class="alert alert-warning">
        </f:if>
        <f:if condition="{flashMessage.severity} == 'Error'">
            <div class="alert alert-danger">
        </f:if>
        <a class="close" data-dismiss="alert" href="#">×</a>
        <f:if condition="{flashMessage.title}">
            <h4 class="alert-heading">{flashMessage.title}</h4>
        </f:if>
        {flashMessage}
        <f:if condition="{flashMessage.code} == 5365">
            <br><br><f:link.action id="sendActivationMail" action="sendActivationMailAgain" controller="User" arguments="{flashMessage.arguments}"><b>Aktivierungs Email von "{flashMessage.arguments.username}" erneut senden</b></f:link.action>
        </f:if>
        </div>
    </f:for>
</f:flashMessages>