<f:layout name="Default" />

<f:section name="Title">Create a new Note</f:section>

<f:section name="Content">
    <f:if condition="{login} == 1">
        <f:then>
            <f:link.action id="yournotes" action="notes" controller="createPass" class="btn btn-primary">Your Notes</f:link.action>
            <f:link.action id="logout" action="logout" controller="Login" class="btn btn-primary">Logout</f:link.action>
        </f:then>
        <f:else>
            <f:link.action id="login" action="start" controller="User" class="btn btn-primary">Login</f:link.action>
        </f:else>
    </f:if>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="well bs-component">
                <f:form action="create" class="form-horizontal findErrors" name="newPass" object="{newPass}">
                    <f:form.validationResults>
                        <f:if condition="{validationResults.flattenedErrors}">
                            <div class="alert alert-danger">
                                <ul class="error">
                                    <f:for each="{validationResults.flattenedErrors}" as="elementErrors"
                                           key="elementIdentifier" reverse="true">
                                                <f:for each="{elementErrors}" as="error">
                                                    <li>{error}</li>
                                                </f:for>
                                    </f:for>
                                </ul>
                            </div>
                        </f:if>
                    </f:form.validationResults>

                    <fieldset>
                        <legend></legend>
                        <div class="form-group">
                            <label for="headline" class="col-lg-2 control-label">Description</label>
                            <div class="col-lg-10">
                                <f:form.textfield property="headline" id="headline" class="form-control" placeholder="This is a super secure Password" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="secure" class="col-lg-2 control-label">Secure Note</label>
                            <div class="col-lg-10">
                                <f:form.textarea property="secure" id="secure" class="form-control" placeholder="Secure Note" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="secure" class="col-lg-2 control-label">Callable <br>(Default: 1 time)</label>
                            <div class="col-lg-10">
                                <f:form.select id="callable" class="form-control"  name="callable" options="{callableOptions}" prependOptionLabel="please select" prependOptionValue=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="secure" class="col-lg-2 control-label">Expiration date (Default: +1 hour)</label>
                            <div class="col-lg-10">
                                <input type="datetime-local" name="expiration">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-lg-2 control-label">Password (to unlock)</label>
                            <div class="col-lg-10">
                                <f:form.password property="password" id="password" class="form-control" placeholder="Password" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sendEmail" class="col-lg-2 control-label">Send Email? (with Link and Password)</label>
                            <div class="col-lg-10">
                                <f:form.checkbox id="sendEmail" property="sendEmail" value="yes" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group" style="display: none">
                            <label for="email" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <f:form.textfield class="form-control" id="email" property="email" placeholder="Email" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <f:form.submit class="btn btn-primary" value="Create" />
                            </div>
                        </div>
                    </fieldset>
                </f:form>

            </div>
        </div>
    </div>
</f:section>