<f:layout name="Default" />

<f:section name="Title">Secure Note</f:section>

<f:section name="Content">
    <f:link.action id="logout" action="logout" controller="Login" class="btn btn-primary">Logout</f:link.action>
    <div class="col-lg-8 col-lg-offset-2">
        <h4>Your Notes</h4>
        <legend></legend>
    </div>
    <div class="row yournotesrow">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="well bs-component">
                <div class="noterow">
                    <div><b>Headline</b></div>
                    <div><b>Creation Date</b></div>
                    <div><b>Expiration</b></div>
                    <div><b>Callable</b></div>
                    <div><b>Link</b></div>
                </div>
                <f:if condition="{entrys}">
                    <f:then>
                        <f:for each="{entrys}" as="entry">
                            <div class="noterow">
                                <div>{entry.headline}</div>
                                <div><f:format.date format="d.m.Y H:i:s">{entry.creationdate}</f:format.date></div>
                                <div><f:format.date format="d.m.Y H:i:s">{entry.expiration}</f:format.date></div>
                                <div>
                                    <f:if condition="{entry.callable} < 2">
                                        <f:then>
                                            {entry.callable} time
                                        </f:then>
                                        <f:else>
                                            {entry.callable} times
                                        </f:else>
                                    </f:if>
                                </div>
                                <div><a href="http://passbin.vm/id/{entry.id}" target="_blank">{entry.id}</a></div>
                            </div>
                        </f:for>
                    </f:then>
                    <f:else>
                    <i>No active secure notes</i>
                    </f:else>
                </f:if>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <h4>Create a new Note</h4>
        <legend></legend>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="well bs-component">
                <f:form action="create" class="form-horizontal findErrors" name="newPass" object="{newPass}">
                    <f:form.validationResults>
                        <f:if condition="{validationResults.flattenedErrors}">
                            <div class="alert alert-danger">
                                <ul class="error">
                                    <f:for each="{validationResults.flattenedErrors}" as="elementErrors"
                                           key="elementIdentifier" reverse="true">
                                                <f:for each="{elementErrors}" as="error">
                                                    <li>{error}</li>
                                                </f:for>
                                    </f:for>
                                </ul>
                            </div>
                        </f:if>
                    </f:form.validationResults>

                    <fieldset>
                        <legend></legend>
                        <div class="form-group">
                            <label for="headline" class="col-lg-2 control-label">Description</label>
                            <div class="col-lg-10">
                                <f:form.textfield property="headline" id="headline" class="form-control" placeholder="This is a super secure Password" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="secure" class="col-lg-2 control-label">Secure Note</label>
                            <div class="col-lg-10">
                                <f:form.textarea property="secure" id="secure" class="form-control" placeholder="Secure Note" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="secure" class="col-lg-2 control-label">Callable <br>(Default: 1 time)</label>
                            <div class="col-lg-10">
                                <f:form.select id="callable" class="form-control"  name="callable" options="{callableOptions}" prependOptionLabel="please select" prependOptionValue=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="secure" class="col-lg-2 control-label">Expiration date (Default: +1 hour)</label>
                            <div class="col-lg-10">
                                <input type="datetime-local" name="expiration">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-lg-2 control-label">Password (to unlock)</label>
                            <div class="col-lg-10">
                                <f:form.password property="password" id="password" class="form-control" placeholder="Password" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sendEmail" class="col-lg-2 control-label">Send Email? (with Link and Password)</label>
                            <div class="col-lg-10">
                                <f:form.checkbox id="sendEmail" property="sendEmail" value="yes" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group" style="display: none">
                            <label for="email" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <f:form.textfield class="form-control" id="email" property="email" placeholder="Email" errorClass="hasError" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <f:form.submit class="btn btn-primary" value="Create" />
                            </div>
                        </div>
                    </fieldset>
                </f:form>

            </div>
        </div>
    </div>
</f:section>