footer {
    margin: 5em 0;
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

footer p {
    clear: left;
    margin-bottom: 0;
}

#usernamereader{
    display: none;
}

.noterow div {
    position: relative;
    width: 160px;
    display: inline-table;
}

.noterow div:last-of-type {
    padding-left: 30px;
    width: 60px;
}

.noterow div input {
    height: 22px;
    font-size: 14px;
}

.expirednoterow div {
    margin-top: 20px;
    width: 201px;
    display: inline-table;
}

.expirednoterow div:last-of-type {
    padding-left: 29px;
    width: 40px;
}

#callable, input{
    color: #d0d0d0;
}

.yournotesrow {
    padding-bottom: 40px;
}

.noterow {
    padding-bottom: 20px;
}

.noterow:last-of-type {
    padding-bottom: 0;
}

#logout, #login, #createnewnote, #notregistered, #yournotes {
    margin-left: 10px;
}

#loginbtn, #registerbtn, #resetpw {
    margin-top: 15px;
}

#login {
    margin-right: 10px;
}

.hide {
    display: none;
}

.expired {
    color: #009fe3;
}